window {
    border-radius: 0;
    opacity: 0.97;
    border-radius: 6px;
    border: 2px solid rgba(196, 167, 231, 0.9);

    background-color: rgba(25, 23, 36, 0.8);
}

label {
    font-family: 'JetBrainsMono Nerd Font';
    font-size: 11pt;

    color: rgba(224, 222, 244, 1);

}

image {
    color: rgba(224, 222, 244, 1);

}


progress {
    background-color: rgba(224, 222, 244, 1);

}
