config/polybar/scripts/arch/arch_updates.pid
config/polybar/scripts/arch/aur-vcs.pkgs
config/polybar/scripts/arch/aur.pkgs
config/polybar/scripts/arch/polybar_updates.pid
config/polybar/scripts/arch/repo.pkgs
config/polybar/scripts/arch/status
config/polybar/scripts/arch/status_vcs
config/vlc/vlc-qt-interface.conf
config/xfce4/xfconf/xfce-perchannel-xml/xfce4-notifyd.xml
config/xfce4/xfconf/xfce-perchannel-xml/xfce4-power-manager.xml
fonts/.uuid