* {
    all: unset;
}

* {
    font-family: JetBrainsMono Nerd Font;
    font-weight: 600;
    font-size: 14px;
}

tooltip {
    padding: 2px;
    background-color: rgba(25, 23, 36, 0.8);
    border: 1px solid rgba(38, 35, 58, 0.9);
    border-radius: 6px;
}

.modules-left {
    margin-left: 8px;
}

.modules-right {
    margin-right: 8px;
}

window#waybar {
    background-color: rgba(25, 23, 36, 0.8);
    color: rgba(224, 222, 244, 1);
}

#workspaces button {
    padding: 0 6px;
    margin: 0 1.5px;
    min-width: 9px;
}

#workspaces button.empty {
    opacity: 0.5;
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-pacman,
#custom-dotfiles,
#custom-menu {
    min-width: 14px;
    margin: 0 8px;
}

/*Fix the uncentered bluetooth icon*/
#bluetooth {
    margin-right: 2px;
}


#clock {
    margin-left: 8.75px;
}

#battery.warning {
    color: rgba(246, 193, 119, 1);
}

#battery.critical {
    color: rgba(235, 111, 146, 1);
}
