[Unit]
Description=Managing dofiles
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/home/thibault/.dotfiles/scripts/dotfiles.sh sync
ExecStop=/home/thibault/.dotfiles/scripts/dotfiles.sh sync
TimeoutStopSec=15


[Install]
WantedBy=default.target
