[Unit]
Description=Managing dofiles
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/home/thibault/.dotfiles/scripts/dotfiles.sh pull_notify
ExecStop=/home/thibault/.dotfiles/scripts/dotfiles.sh push_notify > .lastpush 2>&1
TimeoutStopSec=15


[Install]
WantedBy=default.target
