[Unit]
Description=Managing Google Drive
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/drive -m
ExecStop=/usr/bin/drive -d
TimeoutStopSec=15


[Install]
WantedBy=default.target
