/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #191724FF;
    background-alt: #26233AFF;
    foreground:     #E0DEF4FF;
    selected:       #C4A7E7FF;
    active:         #9CCFD8FF;
    urgent:         #EB6F92FF;
}
