* {
    all: unset;
}

* {
    font-family: JetbrainsMono Nerd Font;
    font-size: 14px;
    font-weight: 600;
}

window {
    border: 2px solid rgba(196, 167, 231, 0.9);
    border-radius: 6;
    background-color: rgba(25, 23, 36, 0.8);

}

#outer-box {
    margin: 2px;
}

#input {
    margin: 25px 5px 10px;
}

#input image {
    -gtk-icon-transform: scale(0);
}

#text {
    color: rgba(224, 222, 244, 1);
}

#entry {
    margin: 10px 25px;
}

#entry image {
    margin-right: 10px;
}

#selected label {
    color: rgba(196, 167, 231, 1);
}
