* {
    background: none;
    font-family: JetbrainsMono Nerd Font;
    font-size: 14px;
    font-weight: 600;
}

window {
    border: 2px solid #c4a7e7;
    margin: 1px;
    background-color: rgba(25, 23, 36, .9999);

}

#input {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: #191724;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #191724;
}

#outer-box {
    margin: 5px;
    border: none;
    border-radius: 10px;
    background-color: #191724;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #e0def4;
}

#selected * {
    outline: none;
    color: #c4a7e7;
}
